Source: libpgm
Priority: optional
Maintainer: Gabriel de Perthuis <g2p.code+debian@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), python, libtool, automake
Standards-Version: 3.9.1
Section: libs
Homepage: http://code.google.com/p/openpgm/
Vcs-Git: https://github.com/g2p/libpgm.git
Vcs-Browser: https://github.com/g2p/libpgm

Package: libpgm-dev
Section: libdevel
Architecture: i386 amd64
Depends: libpgm-5.1-0 (= ${binary:Version}), ${misc:Depends}
Description: Development files for the OpenPGM library
 An implementation of the PGM protocol.

Package: libpgm-5.1-0
Section: libs
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenPGM shared library
 An implementation of the PGM protocol.
